@charset "UTF-8";

.inner{
    width: 60%;
    margin: auto;
}
.inner a{
    text-decoration-line: none;
    text-decoration-color: black;
}
.navBox{
    display: flex;
    justify-content: right;
    margin: 50px 0 0 50px;
}
.navBox>li{
    margin: 0 20px 0 20px;
}
.registerInner{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
